:root {
  --text-col-light: #fff;
  --text-col-dark: #000;
  --bg-col-light: #f2f2f2;
  --bg-col-dark: #644b4f;
  --bg-col-darker: #33292a;
  --bg-col-nav: #333333;
  --a-col: #efa69d;
  --a-hov-col: #e9877b;
  --border-radius: 5px;
}

/* common properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 32px;
  padding-bottom: 15px;
}

.text {
  font-size: 16px;
  line-height: 1.2;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.content-container {
  /* all content is left and right aligned, margins 15% */
  height: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  /* border: 3px solid green; */
}

@media (max-width: 768px) {
  .content-container {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* navigation section */
.navigation-section {
  background-color: var(--bg-col-nav);
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  text-decoration: none;
  background-color: var(--bg-col-nav);
  color: var(--text-col-light);
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.menu-item-first {
  padding-left: 0;
}

.menu-item-last {
  padding-right: 0;
}

.menu-item:hover {
  color: var(--a-hov-col);
}

.menu-icon-container {
  width: 30px;
  height: 30px;
  margin-left: auto;
  display: none;
}

.menu-icon {
  width: 100%;
}

@media (max-width: 768px) {
  .menu-icon-container {
    display: block;
  }
  .menu {
    display: none;
  }
}

/* hero-section */
.hero-section {
  background-color: var(--bg-col-darker); /* in case the image is not loaded */
  background-image: url("images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
}

.hero-title-container {
  position: absolute;
  right: 0;
  bottom: 150px;
}

.hero-title {
  color: var(--text-col-light);
  font-size: 64px;
  font-weight: 600;
  max-width: min-content; /* each word on a new line */
  text-align: right;
  text-transform: capitalize;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 56px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    height: calc(100vh - 60px);
  }
}

/* about us section */
#about-us {
  background-color: var(--bg-col-light);
  color: var(--text-col-dark);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 20px;
}

.wrap-50 {
  width: 50%;
}
.wrap-30 {
  width: 30%;
}
.wrap-70 {
  width: 70%;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper-box-1 {
    width: 100%;
  }
  .wrapper-box-2 {
    width: 100%;
  }
}

#about-us .wrapper-box-2 {
  background-image: url("images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/* what we do section */
#what-we-do {
  background-color: var(--bg-col-darker);
  color: var(--text-col-light);
}

.what-we-do-icons {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  gap: 20px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .what-we-do-icons {
    flex-direction: column;
    align-items: center;
  }
}

.icon-container {
  max-width: 75px;
  /* flex-basis: 50px; */
  flex-grow: 1;
}

.icon-image {
  width: 100%;
}

.icon-image img {
  width: 100%;
}
.icon-title {
  color: var(--text-col-light);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* our trips - photo gallery */
#our-trips {
  background-color: var(--text-col-light);
  color: var(--text-col-dark);
}

.gallery-small-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-small-item {
  background-position: center;
  background-size: cover;
  height: 300px;
  flex-shrink: 1;
  width: calc((100% - 40px) / 3);
}

.gallery-text {
  background-color: var(--bg-col-light);
  color: var(--text-col-dark);
  font-size: 28px;
  font-weight: bold;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .gallery-small-photo {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .gallery-small-item {
    height: 250px;
    width: 100%;
  }
  .gallery-text {
    font-size: 20px;
    height: 100px;
    width: 100%;
  }
}

.photo-1 {
  background-image: url("images/simon-english-48nerZQCHgo-unsplash.jpg");
}
.photo-2 {
  background: url("images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
}
.photo-3 {
  background-image: url("images/daniel-tseng-73lmMKhi2U8-unsplash.jpg");
}
.photo-4 {
  background-image: url("images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg");
}
.photo-5 {
  background-image: url("images/patrick-szylar-45bM3XGqnDE-unsplash.jpg");
}
.photo-6 {
  background-image: url("images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg");
}
.photo-7 {
  background-image: url("images/julian-bialowas-ilkTnuMunP8-unsplash.jpg");
}
.photo-8 {
  background-image: url("images/matej-drha-rbDzMcJsBkY-unsplash.jpg");
}

/* where to go section */
#where-to-go {
  background-color: var(--bg-col-dark);
  color: var(--text-col-light);
}

#where-to-go .wrapper-box-2 .text {
  margin-bottom: 20px;
}

.contact-button-container {
}

.contact-button {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-col-dark);
  background-color: var(--bg-col-light);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  display: inline-block;
  margin: 20px auto 0 0;
}

/* reviews section */
#reviews {
  background-color: var(--bg-col-light);
  color: var(--text-col-dark);
}

.cards {
  display: flex;
  justify-content: space-evenly;
  /* gap: 20px; */
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.review-card {
  max-width: 300px;
  text-align: center;
  margin: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.profile-name {
  font-weight: bold;
  margin: 20px;
}

/* gallery of big photos */
.gallery-big-photo-container {
  background-color: var(--bg-col-darker);
}

.gallery-big-photo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px; /* upper limit for size of the photos*/
  margin: 0 auto;
}

.gallery-big-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  box-sizing: border-box;
}

.gallery-big-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery-big-item {
    flex-basis: 100%;
  }
}

/* footer section */
footer {
  background-color: var(--bg-col-nav);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.footer-contact-container {
  margin: 15px;
}

.footer-contact {
  color: var(--a-col);
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
}

.footer-contact:hover {
  color: var(--a-hov-col);
}

.footer-copyright-container {
  margin: 15px;
}

.footer-copyright-container {
  color: var(--text-col-light);
  font-weight: bold;
  font-size: 10px;
}
