@media (max-width: 768px) {
  :root {
    --header-height: 75px;
  }

  header {
    position: relative;
  }

  .logo img {
    width: 120px;
  }

  nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  nav li {
    display: block;
    text-align: center;
    /* padding-right: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .menu-icon-container {
    display: block;
    color: var(--text-col);
    font-size: 23px;
  }
}

@media (min-width: 769px) {
  nav {
    display: block !important;
  }
}
