:root {
  --text-col: black;
  --bg-col: rgb(238, 238, 238, 0.6); /* alpha => transparent menu */
  --header-height: 100px;
}

/* general properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-col);
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: var(--header-height);
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 200px;
  margin-left: 20px;
  display: block;
  margin-top: 25px;
  margin-bottom: auto;
}

nav {
  margin-right: 30px;
  background-color: var(--bg-col);
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 28px;
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: var(--text-col);
}

.menu-icon-container {
  margin-right: 30px;
  display: none;
}

.menu-icon-container i {
  color: var(--text-col);
  font-size: 26px;
}

.hero-section {
  background-image: url("img/hero-img/peter-glaser-UVWULib2OHM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - var(--header-height) - 20px);
  margin: 0 20px 20px 20px;
  transition: all 1s linear;
}
