#for-parents table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-family: var(--text-font-family);
}

#for-parents th,
#for-parents td {
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: var(--text-font-family);
  padding: 12px;
  padding: 8px 12px;
  text-align: left;
}

#for-parents th {
  background-color: var(--main-color);
  font-weight: 450;
  text-transform: uppercase;
}

#for-parents td {
  font-weight: 350;
}

#for-parents tr:hover {
  background-color: var(--main-color);
}

#for-parents td:nth-child(1),
#for-parents td:nth-child(2) {
  text-align: center;
}

#for-parents th:nth-child(1),
#for-parents th:nth-child(2) {
  text-align: center;
}

#for-parents .more-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#for-parents #dokumenty .download {
  max-width: 400px;
}

#for-parents #dokumenty th {
  background-color: var(--text-bg-color);
}

#for-parents #dokumenty tr:hover,
#for-parents #prihlaseni tr:hover {
  background-color: var(--text-bg-color);
}

#for-parents #prihlaseni #login-form input {
  font-family: var(--text-font-family);
  letter-spacing: 0.5px;
  font-size: 16px;
}

#for-parents #prihlaseni #login-form input[type="text"],
#for-parents #prihlaseni #login-form input[type="password"] {
  background-color: var(--text-bg-color);
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--main-color);
}

#for-parents #prihlaseni #login-form input[type="submit"] {
  transition: 0.4s;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-family: var(--text-font-family);
  text-transform: uppercase;
  padding: 7px 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px;
}

#for-parents #prihlaseni #login-form input[type="submit"]:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

#for-parents #prihlaseni #login-form input[type="text"]:focus,
#for-parents #prihlaseni #login-form input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid var(--text-color);
  background-color: var(--main-color-transparent);
}
