:root {
  --my-white: rgb(255, 255, 255);
  --my-yellow: rgb(233, 200, 25);
  --my-yellow-transparent: rgb(233, 200, 25, 0.9);
  --my-blue: rgb(26, 167, 232);
  --my-blue-transparent: rgb(26, 167, 232, 0.9);

  --main-color: var(--my-yellow);
  --main-color-transparent: var(--my-yellow-transparent);
  --text-color: rgb(0, 0, 0);
  --text-bg-color: rgb(236, 235, 235);
  --switcher-color: rgb(76, 76, 76);
  --link-color: rgb(108, 108, 108);
  --table-border-color: #d5d5d5;

  --switch-box-height: 25px;
  --header-height: 60px;
  --footer-height: 650px;
  --my-gap: 20px;
  --border-radius: 3px;

  --headings-font-family: "Fira Sans", sans-serif;
  --text-font-family: "Open Sans", sans-serif;

  --bg-img: url("../img/background/zahlavi4.jpg");
}

[color-theme="blue-mode"] {
  --main-color: var(--my-blue);
  --main-color-transparent: var(--my-blue-transparent);
  --text-bg-color: rgb(231, 221, 221);
  --switcher-color: rgb(156, 156, 156);
  --table-border-color: rgb(188, 188, 188);

  --bg-img: url("../img/background/foto.jpg");
}
